<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/detailId.css">

    <title>Document</title>
</head>
<body>
     <header>
        
        <%- include('./partials/header') %>

    </header> <!-- FIN HEADER -->
        <h1>Detalle producto</h1>
        <main>
    
            <section class="tarjeta bronce">
                <figure>
                    <img src="/img/products/<%=product.image%>" alt="">
                </figure>
                 <article class="detalle-producto"> 
                     <section class="detalle-producto-descripcion">
                         <h3>Categoria suscripción: <b><%= product.category.name %>  </b> </b></h3>
                        <p>Rango: <b><%= product.name %></b></p>
                        <p>Rango de donacion : <b> AR$ <%=product.min %> - <%= product.max %></b></p>
                      </section>
                    
                      <ul>                        
                        <li><b id="detalle-ul-privileges">Privilegios de la categoría: </b></li>
                        <% product.privileges.forEach(des => { %>
                        <li><i class="fas fa-check"></i><%= des.privilege %>  </li>                           
            
                       <% }) %>
                    
                        
                    </ul>
            
                    
                </article>


                <article class="contribuir">
                    <% if (locals.isAdmin) { %>
                         
                    <button type="button" class="etiqueta-button-edit"><a href="/products/<%= product.id %>/edit" class="editar-button">Editar</a></button>
                    <form action="/products/<%= product.id %>?_method=DELETE" method="post" class="form-button">
                        <button type="submit" class="delete-button">Borrar</button>
                    </form>
                    <% } %> 
                    <%= locals.isAdmin %>
                    <button type="submit"><a href="/cart" class="button-contribuir">Contribuir</a></button>
                </article>
                
                
                
                
                
                
               
            </section>

            

        </main>


    <footer>
    
        <%- include('./partials/footer') %>

    </footer>

</body>
</html>