<!DOCTYPE html>
<html lang="en">
<!--------------------------------------------------head------------------------------------------------------------->
<head>
    
    <%- include('./partials/head') %>
    
    <link rel="stylesheet" href="/css/login.css">
    <title>About-us</title>
</head>
<!--------------------------------------------------body------------------------------------------------------------->
<body>
<!-------------------------------------------------header------------------------------------------------------------>
    <header>
        
        <%- include('./partials/header') %>
             
     </header>
<!--------------------------------------------------main------------------------------------------------------------->
    <main>
            <section class= "section-login">
                
                <form class="form-login" action="/user/login?method" method="POST"> 
                    <p class="titular"><strong>Sign in</strong></p>
                    <p class="dummy-text">El éxito no se mide en el dinero, sino en la diferencia que marcas en las personas. – Michelle Obama</p>
                    <input type="email" name="email" id="email"  placeholder="Email" class="input-campo" value=" <%= (locals.errors && locals.old) ? old.email : ""%>">



                    <% if (locals.errors && errors.email) { %>
                        <p class = "msg-error">
                            <%= errors.email.msg %> 
                        </p>
                       <% } %>

                    <input type="password" name="password" id="password"  placeholder="Contraseña" class="input-campo">

                   

                    <% if (locals.errors && errors.password) { %>
                        <p class = "msg-error">
                            <%= errors.password.msg %> 
                        </p>
                       <% } %>

                    <label for="remember"><input name="remember" id="remember" type="checkbox">  Recordar mi usuario</label>
                    
                    <a href="/"><input class="button" type="submit" value="Ingresar"></a>
                    <a href="/user/contrasenia"><p class="olvide">Olvidé mi contraseña</p></a>
                    <a href="/user/register"><p class="crear">Crear mi cuenta</p></a>
                </form>        

            </section>
    </main>
<!--------------------------------------------------footer------------------------------------------------------------->
    <footer>
        
        <%- include('./partials/footer') %>     

    </footer>

    <script src="../../Public/js/login.js"></script>
</body>

</html>