<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/productEditingForm.css">
    <title>ProductEditingForm</title>
</head>
<body>
     <header>
        
        <%- include('./partials/header') %>

    </header> <!-- FIN HEADER -->
        
    <main>
        <section>
        <h2>Formulario creación de productos</h2>
        <hr class="hr-debajo-h2">

  
        <form action="/products/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
            <h3>Editar producto</h3>

            <select name="category" id="category">
                <option value="" disabled>Seleccionar categoria</option>

                <% for( let i = 0; i < categories.length; i++ ) { %>
                    <% if (categories[i].id == product.category_id) { %>
                        
                        <option value="<%= categories[i].id %>" selected ><%= categories[i].name %> </option>
                        
                    <% } else { %>        

                        <option value="<%= categories[i].id %>" ><%= categories[i].name %> </option>

                    <% } %> 

                <% } %>

                <option value="1" <%=product.category == "1" ? "selected" : null%>>Bronce</option>
                <option value="2" <%=product.category == "2" ? "selected" : null%>>Plata</option>
                <option value="3" <%=product.category == "3" ? "selected" : null%>>Oro</option>
            </select>

           
<!--------------------------------------rank1------------------------------------------->
        
            <label for="name"> 
                <input type="text" name="name" id="name" value="<%=product.name%>" placeholder="Nombre" required>
        </label>    

        <fieldset>
            <label for="privilege" class="text-label-input-file">Nuevo privilegio</label>
            <input type="text" name="privilege" id="privilege" value="" class="input-file"> 
    </fieldset>

    <fieldset><figure><img src="/img/products/<%=product.image%>" alt="" id="imagen-form"></figure></fieldset>

            <fieldset>
                <label for="image" class="text-label-input-file">Imagen rango 1</label>
                <input type="file" name="image" id="image" value="" class="input-file"> 
        </fieldset>

             <label for="min"> 
                <input type="number" name="min" id="min" value="<%=product.min%>" placeholder="Contribución mínima rango" required>
             </label>

             <label for="max"> 
                <input type="number" name="max" id="max" value="<%=product.max%>" placeholder="Contribución maxima rango" required>
             </label>

             <label for="range"> 
                <input type="number" name="rango" id="range" value="<%=product.rango%>" min="1" max="3" placeholder="Seleccione un rango dentro de la categoria" required>
             </label>
        <hr>
            <fieldset class="fieldset-button">
                <button type="submit" class="button-form">Enviar</button>
            
        </fieldset>

        </form>

        <article id="article-form">
        <form action="/products/<%= product.id %>?_method=DELETE" method="post" class="form-button">
            <button type="submit" class="button-form-reset">Borrar</button>
        </form>
    </article>
                
    </section>      
    
    
        
    </main>


    <footer>
    
        <%- include('./partials/footer') %>

    </footer>

</body>
</html>