<!DOCTYPE html>
<html lang="en">

<!--------------------------------------------------head------------------------------------------------------------->
<head>
    
    <%- include('./partials/head') %>
    
    <link rel="stylesheet" href="/css/profileUser.css">
    <title>About-us</title>
</head>
<!--------------------------------------------------body------------------------------------------------------------->
 <body>
<!-------------------------------------------------header------------------------------------------------------------> 
<header>
    
    <%- include('./partials/header') %>
    
         
</header>

<main>
    <h2> Bienvenid@ <%= user.firstName %> <%= user.lastName %> </h2>
    <article>
        
        <figure class="figure">
            <img src="/img/users/<%= user.avatar%>" alt="Imagen usuario">
        </figure>
        <section class="info">
                <h3>Gracias por ser parte de nuestra comunidad.</h3>
                <hr class="blue">
                <ul>
                    <li><b>Email de registro: </b><%= user.email %></li>
                    <li><b>Fecha de nacimiento: </b><%= user.birthDate %></li>
                    <li><b>País de residencia: </b><%= user.country %></li>
                    <li><b>Número de teléfono: </b><%= user.phoneNumber %></li>
                    <li><b>Domicilio: </b><%= user.adress %></li>
                    <li><b>Métodos de pago: </b>
                        <ul>
                            <% for( let i = 0; i < user.MedioDePago.length; i++ ) { %>
                                <li> <%= user.MedioDePago[i].medio_de_pago %></li>
                            <% } %>
                        </ul>
                    </li>


                </ul>
                <hr class="red">
                <h4>Disfrutemos de cambiar el mundo junt@s.</h4>

                <button type="button" class="etiqueta-button-edit"><a href="/user/<%= user.id %>/edit" class="editar-button">Editar información</a></button>
        </section>
        

    </article>


</main>

<footer>

    <%- include('./partials/footer') %>

</footer>

</body>

</html>