<!DOCTYPE html>
<html lang="en">
    <!--------------------------------------------------head------------------------------------------------------------->

<head>
    
    <%- include('./partials/head') %>

    <link rel="stylesheet" href="/css/userList.css">
    <title>userList</title>
</head>
<!--------------------------------------------------body------------------------------------------------------------->

<body>
    <header>
        
        <%- include('./partials/header') %>

    </header>
    
    <main>

        <% for(let i = 0; i < userList.length; i++){%>
        

        <article class="user">
            <figure><img src="/img/users/<%=userList[i].avatar%>" alt=""></figure>

            <section class="userStatic">
                <ul>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                    <li><i class="fas fa-star"></i></li>
                </ul>
                <h3>Bronce</h3>

            </section>

            <section class="userInfo">
                <ul class="userInfoUl">
                    
                <li>Nombre de usuario</li>    
                <li><%= userList[i].firstName %></li>
                <li>Fecha de nacimiento</li>
                <li><%= userList[i].birthDate %></li>
                <li>Correo electrónico</li>
                <li><%= userList[i].email %></li>
                <li>Teléfono</li>
                <li><%= userList[i].phoneNumber %></li>
                <li>Dirección</li>
                <li><%= userList[i].adress %></li>
                <li>País</li>
                <li><%= userList[i].country %></li>
                <li>Contraseña</li>
                <li><%= userList[i].password %></li>
                <li>Método de pago</li>
                <li><%= userList[i].password %></li>

                </ul>
                
            </section>
        </article>
        <%}%>

    </main>









 <!--------------------------------------------------footer------------------------------------------------------------->
 <footer>

    <%- include('./partials/footer') %>

</footer>


</body>
</html>